services:
  api:
    build: ./api
    ports:
      - "5000:5000"
    depends_on:
      - mosquitto

  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto-data:/mosquitto/data

  mqtt-client:
    build: ./mqtt-client
    depends_on:
      - mosquitto

  frontend:
  build: ./frontend
  ports:
    - "5173:5173"
  depends_on:
    - api

volumes:
  mosquitto-data:
